.video-hero {
  background-image: none !important
}
.video-hero h3 {
  text-transform: none;
  text-align: center;
}
.video-hero .gtr-50 {
  display: flex;
  justify-content: center;
}
.photos {
  padding-bottom: 0px;
}
.image:before {
  background: none;
}
#footer {
    padding: 4em !important;
}
#footer .icon.circle {
  background-color: #83d3c9;
  border-color: #83d3c9;
  color: #fff;
}
@media (max-width: 768px) {
  .video-hero iframe {
    height: 400px
  }
}
@media (max-width: 480px) {
  .video-hero iframe {
    height: 250px
  }
}
